@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Oswald:wght@200;300;400;469;500;600;700&display=swap');

$product-font-family: "product" !default;
$product-font-path: "../fonts" !default;

$icon-heart: "\f004";
$icon-heart-o: "\f08a";
$icon-angle-left: "\f104";
$icon-angle-right: "\f105";
$icon-angle-up: "\f106";
$icon-angle-down: "\f107";


@font-face {
    font-family: '#{$product-font-family}';
    src:  url('#{$product-font-path}/#{$product-font-family}.eot?5z03ha');
    src:  url('#{$product-font-path}/#{$product-font-family}.eot?5z03ha#iefix') format('embedded-opentype'),
      url('#{$product-font-path}/#{$product-font-family}.ttf?5z03ha') format('truetype'),
      url('#{$product-font-path}/#{$product-font-family}.woff?5z03ha') format('woff'),
      url('#{$product-font-path}/#{$product-font-family}.svg?5z03ha##{$product-font-family}') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: '#{$product-font-family}' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  
.icon-heart {
  &:before {
    content: $icon-heart; 
  }
}
.icon-heart-o {
  &:before {
    content: $icon-heart-o; 
  }
}
.icon-angle-left {
  &:before {
    content: $icon-angle-left; 
  }
}
.icon-angle-right {
  &:before {
    content: $icon-angle-right; 
  }
}
.icon-angle-up {
  &:before {
    content: $icon-angle-up; 
  }
}
.icon-angle-down {
  &:before {
    content: $icon-angle-down; 
  }
}

